html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.page-header {
    display: flex;
    min-height: 180px;
    justify-content: space-between;
}

.logo-item {
    margin-top: 30px;
}

.site-navigation {
    display: flex;
    /* width: 490px; */
    justify-content: space-between;
    
}

.site-navigation-item {
    margin-top: 40px;
    position: relative;
    margin-right: 56px;
}

.site-navigation-item:last-child {
    margin-right: 0;
}

.site-navigation-item a {
    text-decoration: none;
    color: #95e1d3;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 400;
    transition: 0.2s linear;
}

.site-navigation-item a::after {
    position: absolute;
    content:'';
    width: 0;
    height: 3px;
    background: #f38181;
    top: 30px;
    left: 50%;
    transition: width .2s, left .2s;   
}

.site-navigation-item a:hover {
    color: #f38181;
}

.site-navigation-item a:hover::after {
    width: 100%;
    left:0;
  }


/* SECTION */
.service-text, .service-title {
    text-align: center;
    line-height: 1.2;
}

.service-text {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
}

.service-title {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.service-title::after {
    content: '';
    display: flex;
    width: 60px;
    height: 3px;
    background: #f38181;
    margin: 42px auto 60px auto;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-list-item {
    width: 382px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
}

.service-list-item:not(:nth-child(n+4)) {
    margin-bottom: 100px;
}

.service-list-title::before {
    content: '';
    display: flex;
    width: 35px;
    height: 35px;
    margin-right: 30px;
    background-repeat: no-repeat;
}

.photo {
    background-image: url(../img/icon/ALARM.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.web {
    background-image: url(../img/icon/LINE\ GRAPH.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.creativ{
    background-image: url(../img/icon/COMPUTER\ _\ OK.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.ceo {
    background-image: url(../img/icon/BOOK\ 2.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.css {
    background-image: url(../img/icon/HOME.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.digital {
    background-image: url(../img/icon/IMAGE.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.service-list-title {
    display: flex;
}

.service-list-description {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.service-list-description {
    margin-left: 65px;
}


/* SECTION  our-team*/

.our-team {
    text-align: center;
}

.our-team-text, .our-team-title {
    line-height: 1.2;
}
.our-team-text {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    margin-top: 95px;
}

.our-team-title {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.our-team-title::after {
    content: '';
    display: flex;
    width: 60px;
    height: 3px;
    background: #f38181;
    margin: 42px auto 46px auto;
}

.our-team-description {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    width: 960px;
    height: 130px;
    margin: 0 auto;
}

.our-team-list-item {
    position: relative;
}

.our-team-photo {
    position: relative;
    z-index: 2;
    background: linear-gradient(to top, #E4AF9D 20%, #E4E4D8 50%, #A19887 80%);
    transition: 0.2s linear;
}

.shadow {
    position: absolute;
    width: 380px;
    height: 470px;
    background-color: rgb(149, 225, 211);
    z-index: 1;
}

.gradient {
    position: absolute;
    width: 380px;
    height: 470px;
    background: linear-gradient(to top, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
    z-index: 3;
    opacity: 0;
    animation: gradient 1s linear;
    transform: translate(-10px, -10px);
    transition: 0.2s linear;
}

.our-team-list-item:hover .gradient {
    cursor: pointer;
    opacity: 1;
}   

.our-team-list-item:hover .our-team-photo {
    transform: translate(-10px, -10px);
}

.our-team-list-item:hover .our-team-list-social {
    transform: translate(-10px, -10px);
    opacity: 1;
}

.our-team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 86px;
}

.our-team-list-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    margin: 30px auto 8px auto;
}

.our-team-list-occupation, .template {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
}

.our-team-list-social {
    display: flex;
    position: absolute;
    top: 206px;
    left: 76px;
    z-index: 5;
    opacity: 0;
    transition: 0.2s linear;
}

.our-team-list-social a:hover {
    transition: 0.2s linear;
    background-color: #95e1d3;
}

.our-team-list-social li {
    margin-right: 1px;
}

.our-team-list-social li:last-child {
    margin-right: 0;
}

.our-team-list-social a {
    display: inline-block;
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fce38a;
}

.icon-fb {
    background-image: url(../img/social-icon/facebook.png);
}

.icon-tw {
    background-image: url(../img/social-icon/twitter.png);
}
    
.icon-pt {
    background-image: url(../img/social-icon/pinterest.png);
}

.icon-inst {
    background-image: url(../img/social-icon/instagram.png);
}

/* FOOTER */

.page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid #e5e5e5;
}

figcaption {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    font-kerning: normal;
}

.template {
    color: #f38181;
}

.form {
    display: flex;
}

.input {
width: 100%;
display: inline-block;
background: none;
border: 1px solid #e5e5e5;
outline: none;
}

.input::placeholder {
    color: black;
}

.input:focus {
    border: 1px solid #000;
}
/*Кнопка*/
.subscribe {
    width: 150px;
    height: 40px;
    background: #95e1d3;
    color: #fff;
    border: 1px solid transparent;
    outline: none;
}

.subscribe:hover {
    border: 1px solid #000;
    cursor: pointer;
}

.submit:focus {
    border: 1px solid #fff;
}

.submit:disabled {
    background: lightgrey;
}

:root {
    font-family: serif;
}

.list {
    text-align: center;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}