.form {
    display: flex;
}

.form__input {
    width: 100%;
    display: inline-block;
    background: none;
    border: 1px solid $primary-border-color;
    outline: none;

    &::placeholder {
        color: $primary-black-color;
    }

    &:focus {
        border: 1px solid $primary-black-color;
    }
}
