.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.form__input {
    width: 100%;
    display: inline-block;
    background: none;
    border: 1px solid #e5e5e5;
    outline: none;

    &::placeholder {
        color: black;
    }

    &:focus {
        border: 1px solid #000;
    }
}
