.menu__link--navigation {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    transition: 0.2s linear;

    &::after {
        position: absolute;
        content: '';
        width: 0;
        height: 3px;
        background: #fce38a;
        top: 30px;
        left: 50%;
        transition: width .2s, left .2s;   
    }

    &:hover {
        color: #fce38a;
    }

    &:hover .menu__icon--navigation { 
        fill: #fce38a;
        transition: 0.2s linear;
    }

    &:hover::after {
        width: 100%;
        left: 0;
    }

}