.menu__item--service {
    display: flex;
    flex-wrap: wrap;
    width: 382px;
    font-weight: 400;
    font-size: $base-font-size;
    line-height: $base-line-height;
    
    &:not(:nth-child(n+4)) {
        margin-bottom: 100px;
    }
}