.menu__link--navigation {
    text-decoration: none;
    color: $primary-white-color;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    transition: 0.2s linear;

    &::after {
        position: absolute;
        content: '';
        width: 0;
        height: 3px;
        background: $primary-accent-color;
        top: 30px;
        left: 50%;
        transition: width .2s, left .2s;   
    }

    &:hover {
        color: $primary-accent-color;
    }

    &:hover .menu__icon--navigation { 
        fill: $primary-accent-color;
        transition: 0.2s linear;
    }

    &:hover::after {
        width: 100%;
        left: 0;
    }

}