.section__btn {
    width: 161px;
    height: 41px;
    background: transparent;
    color: #fff;
    border: 1px solid;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    -webkit-box-shadow: inset 0px 0px 7px 0px rgb(255, 255, 255);
    box-shadow: inset 0px 0px 7px 0px rgb(255, 255, 255);
}

.section__btn:hover {
    background-color: #fce38a;
    cursor: pointer;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}
