.wrapper-header {
    background: linear-gradient( 360deg, rgba(252,227,138, 0.9) 0%, rgba(243,129,129, 0.9) 100%), url(../../images/eagle-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; // Написать миксин
    height: 1000px;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .wrapper-header {
        background: url(../img/eagle@2x-min.jpg);
    }
}