* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.page-navigation {
    text-transform: uppercase;
    margin-top: 36px;
    margin-bottom: 96px;
}

.img-logo {
    margin-top: 4px;
}

.site-navigation {
    width: 464px;
    float: right;
    display: inline-block;
    font-size: 14px;
    margin-top: 8px;
}

.site-navigation-item {
    float: left;
}

.site-navigation-item a:hover {
    color: #1abc9c;

}

.site-navigation-item:not(:last-child) {
    margin-right: 35px;
}

.site-navigation-item a {
    text-decoration: none;
    font-family: myriad-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: black;
}

/*MAIN section products*/

.products-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    font-family: Roboto,sans-serif;
    font-weight: 800;
    color: #515151;
    margin-bottom: 90px;
  
}

/*PSEUDOCLASS*/
.products-title::after {
    content: '';
    display: block;
    width: 164px;
    height: 7px;
    background: #4ec6ab;
    margin-top: 32px;
    margin-left: 473px;
}

.products-list-item {
    float: left;
    font-size: 0;
    margin-right: 30px;
    margin-bottom: 30px;
}

.foto-box {
    width: 255px;
    height: 282px;
    text-align: center;
    background: #e8effc;
}

.foto-box {
    overflow:hidden;
}

/*ВЫравниваем каждую картинку png*/
.card1 img {
    margin-left: -55px;
}

.card2 img {
    margin-top: 20px;
}

.card3 img {
    margin-top: 65px;
}

.card4 img {
    margin-top: 40px;
}

.card5 img {
    margin-top: 30px;
}

.card6 img {
    margin-top: 45px;
}

.card7 img {
    margin-top: 20px;
}

.card8 img {
    margin-top: 95px;
}


.products-list-item:hover .goods {
    background: #1abc9c;
    cursor: pointer;
}



.description {
    display: block;
    background: #323232;
    width: 200px;
    height: 40px;
    text-align: center;
    float: left;
}

.description-text {
    font-family: Roboto,sans-serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 40px;
    font-weight: 800;
    text-transform: uppercase;
}

.price {
    display: block;
    width: 55px;
    height: 40px;
    background: #8c8c8c;
    font-size: 18px;
    color: #ffffff;
    font-weight: 800;
    text-align: center;
    float: left;
}

.description-price {
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 800;
    text-align: center;
}

.price::before {
    content: '\0024';
}

.products-list-item:nth-child(4n) {
    margin-right: 0;
}

.products-list-item:nth-last-child(-n+4) {
    margin-bottom: 96px;
}

/*SECTION NEWS*/
.news-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    font-family: Roboto,sans-serif;
    font-weight: 800;
    color: #555252;
    margin-bottom: 80px;
}

.news-title::after {
    content: '';
    display: block;
    width: 164px;
    height: 7px;
    background: #1abc9c;
    margin-top: 32px;
    text-align: center;
    margin-left: 473px;
}

.news-list-item {
    width: 350px;
    margin-right: 30px;
    float: left;
}

.news-list-item:last-child {
    margin-right: 0;
}

.news-list-item img {
    margin-bottom: 15px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #555252;
}

h3::after {
    content: '';
    display: block;
    width: 136px;
    height: 3px;
    background: #4ec6ab;
    margin-top: 15px;
    margin-bottom: 30px;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #555252;
    margin-bottom: 19px;
}

button {
    width: 160px;
    height: 50px;
    background: #4ec6ab;
    border-radius: 5px;
    border-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

button:hover {
    background: purple;
    cursor: pointer;
}

