// COLORS
$primary-main-color: #f3817a;
$primary-accent-color: #fce38a;
$primary-light-color: #95e1d3;
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$primary-border-color: #e5e5e5;

// FONTS
$main-font-stack: 'Montserrat', sans-serif;
$second-font-stack: 'Kaushan Script', cursive;
$third-font-stack: 'Roboto', sans-serif;

// FONT-SIZE
$base-font-size: 14px;

// LINE-HEIGHT
$base-line-height: 1.2;