// COLORS
$primary-main-color: #f3817a;
$primary-accent-color: #fce38a;
$primary-light-color: #95e1d3;
$primary-white-color: #ffffff;

// FONTS
$main-font-stack: 'Montserrat', sans-serif;
$second-font-stack: 'Kaushan Script', cursive;
$third-font-stack: 'Roboto', sans-serif;