html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

.wrapper-header {
    background: -webkit-linear-gradient( 90deg, rgba(252,227,138, 0.9) 0%, rgba(243,129,129, 0.9) 100%), url(../img/eagle-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
  
}
    
.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* min-height: 180px; */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: flex-end;
}

.page-header__img {
    margin-top: 30px;
}

.page-header__site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* width: 490px; */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.page-header__icon {
    width: 18px;
    height: 18px;
    fill: white;
}

.page-header__item {
    margin-top: 40px;
    position: relative;
    margin-right: 56px;
}

.page-header__item:last-child {
    margin-right: 0;
}

.page-header__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.page-header__link::after {
    position: absolute;
    content:'';
    width: 0;
    height: 3px;
    background: #fce38a;
    top: 30px;
    left: 50%;
    -webkit-transition: width .2s, left .2s;
    -o-transition: width .2s, left .2s;
    transition: width .2s, left .2s;   
}

.page-header__link:hover {
    color: #fce38a;
}

.page-header__link:hover .page-header__icon {
    fill: #fce38a;
}

.page-header__link:hover::after {
    width: 100%;
    left:0;
}

.section__text {
    font-size: 72px;
    font-weight: 400;
    color: white;
    margin-top: 165px;
}

.section__title {
    font-size: 150px;
    line-height: 0.933;
    color: white;
    font-weight: 700;
    margin: 35px 0 126px 0;
}

.section__btn {
    width: 161px;
    height: 41px;
    background: transparent;
    color: #fff;
    border: 1px solid;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    -webkit-box-shadow: inset 0px 0px 7px 0px rgb(255, 255, 255);
    box-shadow: inset 0px 0px 7px 0px rgb(255, 255, 255);
}

.section__btn:hover {
    background-color: #fce38a;
    cursor: pointer;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

/* FONTS */
.kaushan {
    font-family: 'Kaushan Script', cursive;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

/* SECTION */

.service__text, .service__title {
    text-align: center;
    line-height: 1.2;
}

.service__text {
    font-size: 24px;
    margin-top: 47px;
}

.service__title {
    font-size: 30px;
    font-weight: 700;
}

.service__title::after {
    content: '';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    height: 3px;
    background: #f38181;
    margin: 42px auto 60px auto;
}

.service__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.service-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 382px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
}

.service-list__item:not(:nth-child(n+4)) {
    margin-bottom: 100px;
}

.service-list__shell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 32px;
    height: 32px;
    margin-right: 23px;
    fill: #95e1d3;
}

.service-list__description {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 55px;
    text-align: left;
}

/* SECTION  team*/ 
.team {
    text-align: center;
}

.team__text, .team__title {
    line-height: 1.2;
}
.team__text {
    font-size: 24px;
    margin-top: 95px;
}

.team__title {
    font-size: 30px;
    font-weight: 700;
}

.team__title::after {
    content: '';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    height: 3px;
    background: #f38181;
    margin: 42px auto 46px auto;
}

.team__description {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    width: 960px;
    height: 130px;
    margin: 0 auto;
}

.team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 86px;
}

.team-list__item {
    position: relative;
}

.team-list__item:hover .team-list__gradient {
    cursor: pointer;
    opacity: 1;
}   

.team-list__item:hover .team-list__team-photo {
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
}

.team-list__item:hover .socials {
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
    opacity: 1;
}


.team-list__shadow {
    position: absolute;
    width: 380px;
    height: 470px;
    background-color: rgb(149, 225, 211);
    z-index: 1;
}

.team-list__gradient {
    position: absolute;
    width: 380px;
    height: 470px;
    background: -webkit-gradient(linear,left bottom, left top,from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
    background: -webkit-linear-gradient(bottom,rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9));
    background: -o-linear-gradient(bottom,rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9));
    background: linear-gradient(to top,rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9));
    z-index: 3;
    opacity: 0;
    -webkit-animation: gradient 1s linear;
    animation: gradient 1s linear;
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.team-list__team-photo {
    position: relative;
    z-index: 2;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #E4AF9D), color-stop(50%, #E4E4D8), color-stop(80%, #A19887));
    background: -webkit-linear-gradient(bottom, #E4AF9D 20%, #E4E4D8 50%, #A19887 80%);
    background: -o-linear-gradient(bottom, #E4AF9D 20%, #E4E4D8 50%, #A19887 80%);
    background: linear-gradient(to top, #E4AF9D 20%, #E4E4D8 50%, #A19887 80%);
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}



.team-list__name {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    margin: 30px auto 8px auto;
}

.team-list__occupation, .page-footer__template {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
}

.socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 206px;
    left: 76px;
    z-index: 5;
    opacity: 0;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.socials__link:hover {
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    background-color: #f38181;
}

.socials__item {
    margin-right: 1px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fce38a;
    text-align: center;
    display: inline-block;
    line-height: 5;
}

.socials__icon {
    width: 32px;
    height: 32px;
    fill: #f38181;
}

.socials__link:hover .socials__icon {
    fill: white;
}

/* FOOTER */

.page__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 62px;
    border-top: 1px solid #e5e5e5;
}

figcaption {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    -webkit-font-kerning: normal;
    font-kerning: normal;
}

.page-footer__template {
    color: #f38181;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.form__input {
    width: 100%;
    display: inline-block;
    background: none;
    border: 1px solid #e5e5e5;
    outline: none;
}

.form__input::-webkit-input-placeholder {
    color: black;
}

.form__input:-ms-input-placeholder {
    color: black;
}

.form__input::-ms-input-placeholder {
    color: black;
}

.form__input::placeholder {
    color: black;
}

.form__input:focus {
    border: 1px solid #000;
}

/*Кнопка*/
.form__btn {
    width: 150px;
    height: 40px;
    font-size: 14px;
    background: #95e1d3;
    color: #fff;
    border: 1px solid transparent;
    outline: none;
}

.form__btn:hover {
    border: 1px solid #000;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.61);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.61);
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

/* MEDIA */

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .wrapper-header {
        background: url(../img/eagle@2x-min.jpg);
    }
}